/*Components: button*/

//Base
.button {
  padding: 7px 12px;
  cursor: pointer;
  font-family: $montserrat;
  font-size: $small;
  font-weight: $regular;
}

//Button Scheme
.button-message {
  border: none;
  color: $white;
  background-color: $charlotte;

  &:hover {
    background-color: $glacier;
  }
  &:focus {
    background-color: $half-baked;
  }
}

.button-follow {
  border: none;
  color: $white;
  background-color: $bittersweet;

  &:hover {
    background-color: $sunset;
  }
  &:focus {
    background-color: $mexican-red;
  }
}
