//Primer esquema de color
$black: #000000;
$matterhorn: #4C4C4C;
$gray: #808080;
$white: #FFFFFF;

//Segundo esquema de color
$charlotte: #92DCE5;
$glacier: #75B0B7;
$half-baked: #5E8D92;

//Tercer esquema de color
$bittersweet: #EF6461;
$sunset: #BF504E;
$mexican-red: #99403E;

//Font family
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

//Font weight
$regular: 400;
$med-bold: 500;

//Font size
$xx-large:35px;
$x-large:25px;
$large:19px;
$medium:18px;
$small:16px;
$x-small:14px;
